[Unit]
Description=EMR process to map users to AWS IAM Roles.
After=libinstance-controller-java.service

[Service]
Type=forking
ExecStart=/usr/bin/emr-user-role-mapper
ExecStop=/usr/bin/emr-user-role-mapper stop
Restart=always
PIDFile=/emr/user-role-mapper/run/emr-user-role-mapper.pid

[Install]
WantedBy=multi-user.target