[Unit]
Description=EMR process to map users to AWS IAM Roles.
After=libinstance-controller-java.service

[Service]
Type=forking
ExecStart=/etc/init.d/emr-user-role-mapper start
ExecStop=/etc/init.d/emr-user-role-mapper stop
Restart=always
PIDFile=/var/run/emr-user-role-mapper/emr-user-role-mapper.pid

[Install]
WantedBy=multi-user.target